@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 163 204 169; /* Backgrounds, borders, etc. */
  --color-accent: 160 188 206; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
}
